{
    {$CADDY_GLOBAL_OPTIONS}

    frankenphp {
        {$FRANKENPHP_CONFIG}
    }
}

{$SERVER_NAME:localhost} {
    log {
        level INFO
        output stderr
        format filter {
            wrap console
            fields {
                uri query {
                    replace _profiler *
                }
            }
        }
    }

    root * /app/public

    encode zstd br gzip

    # Bloquer l'accès statique direct aux uploads — servis via ImageController
    respond /uploads/* 403

    # Upload size limit
    request_body {
        max_size 20MB
    }

    php_server {
        index index.php
        resolve_root_symlink
    }
}
